{% flash %}
<div data-control="flash-message"
     class="flash-message fade {{ type }}"
     data-interval="5">{{ message }}</div>
{% endflash %}
<form id="send_pass"
      data-request="onRegisterDevice"
      autocomplete="off"
      data-request-validate
      class="form-horizontal"
      data-request-flash
      data-request-success="$('#send_pass')[0].reset()"
>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" data-addui='input' name="name" id="name" placeholder="FIRST NAME *" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" data-addui='input' name="surname" id="surname" placeholder="LAST NAME *" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="email" data-addui='input' name="email"  id="email" aria-describedby="emailHelp" required placeholder="EMAIL *">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. A pass file will be sent to this address.</small>
    </div>


    <!--div class="row">
        <div class="col"-->
            <div class="form-group">
                <label for="name" class="col-form-label-sm">Model</label>
                <select id="device_model_id" name="device_model_id"  autocomplete="off" style="display:none;"></select>

            </div>
        <!--/div>
        <div class="col">
            <div class="form-group">
                <label for="name" class="col-form-label-sm">Device ID</label>
                <input type="text" class="form-control form-control-sm" name="device_id" id="device_id" placeholder="Enter device ID" required>
            </div>
        </div>
    </div-->

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="name" class="col-form-label-sm">Purchase date</label>
                <input type="date" class="form-control form-control-sm" name="purchase_date"  id="purchase_date" required placeholder="Enter purchase date">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="name" class="col-form-label-sm">Warranty date</label>
                <input type="date" class="form-control form-control-sm" name="warranty_date"  id="warranty_date" required placeholder="Enter warranty date">
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <button type="submit">
        <span class="btn-text">Register</span>
        <span class="btn-icon">
			<span class="icon-wrap">
                <svg width="32" height="12" viewBox="0 0 32 12">
                    <path class="path path-arrow" d="M30.243,7.414 L30.242,7.414 L26.000,11.656 L24.586,10.242 L27.828,7.000 L-0.000,7.000 L-0.000,4.999 L27.828,4.999 L24.586,1.757 L26.000,0.343 L31.657,6.000 L30.243,7.414 Z"></path>
                </svg>
            </span>
		</span>
    </button>
</form>