<center>
    <div style="display:none; font-size:1px; color:#ffffff;line-height:1px; max-height:0px; max-width:0px; opacity:0;overflow: hidden;">
        <!-- preheader -->
    </div>
    <div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#efefef" style="table-layout: auto !important;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;border-collapse: collapse !important;">
            <tr>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <img src="{{path}}/assets/images/top.jpg" style="display: block;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="IQOS" border="0" align="top" hspace="0" vspace="0" width="600" height="45" class="hover">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                       <span id="switch1">
                       <img id="swap1" src="{{path}}/assets/images/header.jpg" alt="Read this and forget." width="600" style="-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: block;">
                       </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" border="0" cellpadding="0" bgcolor="#ffffff" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <!-- Content -->
                                <tr>
                                    <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                    </td>
                                </tr>
                            </table>
                            <table width="600" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important; background-color: #ffffff !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="520" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;" bgcolor="#fff">
                                            <tr>
                                                <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <table width="100%" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                        <tr>
                                                            <td class="quote-top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 20px;text-align: center;line-height: 26px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                Hi {{user.FirstName}},
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="80%" align="center" class="mobileWidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                        <tr>
                                                            <td class="quote-bottom" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 22px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                Welcome to IQOS CARE PLUS
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="quote-bottom" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 22px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                Thank you for enrolling to IQOS CARE PLUS. At IQOS we care about your experience and want you to feel supported.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="quote-bottom" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 22px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                We've included access to your digital IQOS E-card, so you can see how to easily access our services, as well as keep track of you IQOS Care Plus membership expiry date.
                                                                <!--<br>Please click below to download.-->
                                                                <br>Please click on the file attachment, from your Mac or iOS device, to add it to your wallet.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="600" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td height="10" style="line-height: 30px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--
                                <table cellpadding="0"  cellspacing="0" border="0" width="600" bgcolor="#ffffff">
                                    <tr>
                                        <td width="140" class="full1 mobileHide">
                                        </td>
                                        <td width="180" class="full">
                                            <a href="https://pmi-pkpass.nurun.io/" target="_blank">
                                                <img src="{{path}}/assets/images/button1.jpg" style="display: block;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="" border="0" align="top" hspace="0" vspace="0" width="" height=""></a>
                                            </a>
                                        </td>
                                        <td width="280" class="full button2">
                                            <a href="https://pmi-pkpass.nurun.io/" target="_blank">
                                                <img src="{{path}}/assets/images/button2.jpg" style="display: block;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="" border="0" align="top" hspace="0" vspace="0" width="" height=""></a>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                -->
                <table width="600" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td height="20" style="line-height: 20px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <!-- Content -->
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <table width="80%" align="center" class="mobileWidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                        <tr>
                                                            <td class="quote-bottom" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 22px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                Below are all the benefits that you are entitled to. <br>Please save this conformation email tor your reference.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <table width="100%" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                        <tr>
                                                            <th width="30%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/icon1.jpg" style="display: block;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="Speed" border="0" align="top" hspace="0" vspace="0" width="55" height="55">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="small-title" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 16px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Accidental Damage Coverage<br>&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="normal-copy" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Provides you with the comfort that even you accidentally damage your IQOS you will get a replacement.
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="5%" class="stack" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="30%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/icon2.jpg" style="display: block;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="Simplicity" border="0" align="top" hspace="0" vspace="0" width="55" height="55">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="small-title" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 16px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            <br>IQOS Coach
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="normal-copy" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Need help using your IQOS? How about some tips and tricks? ju st ask your IQOS Coach - they're ready to help.<br>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="5%" class="stack" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="30%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/icon3.jpg" style="display: block;-ms-interpolation-mode: bicubic;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="Efficiency" border="0" align="top" hspace="0" vspace="0" width="55" height="55">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="small-title" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 16px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            International Assistance<br>&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="normal-copy" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Assistance support for your IQOS while travelling abroad,our dedicated helpline is at your service.
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td height="" style="line-height: 1px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td height="50" style="line-height: 50px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="preheader" style="font-style:italic ;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: center;line-height: 16px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                    Terms & conditions apply
                                                    <a href="https://za.iqos.com/terms-and-conditions" target="_blank" style="text-decoration:underline;">
                                                        <strong>more info</strong></a><br><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="line-height: 20px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix1" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td align="center">
                                                    <hr style="border-top: 2px solid #d9d9d9;width:90%;">
                                                    &nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td class="small-title" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 16px;text-align: center;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                    26 APRIL 2018<br>Your reference: xxxxxx@xxxxxx.com<br><br><br>
                                                    Any Questions?<br>
                                                    Contact your IQOS Care Team.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50" style="line-height: 50px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix1" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td align="center">
                                                    &nbsp;
                                                    <hr style="border-top: 2px solid #d9d9d9;width:90%;">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <table width="100%" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                        <tr>
                                                            <th width="30%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="normal-copy billing-address" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: left;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Shipping address<br>Maria Spencer<br>Anfield Road<br>Liverpool L4 OTH<br>+44 (0) 151 260 6677
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="5%" class="stack" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="30%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="normal-copy billing-address" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding:0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: left;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Billing address<br>Maria Spencer<br>Anfield Road<br>Liverpool L4 OTH<br>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="5%" class="stack" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="30%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td height="25" style="line-height: 25px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="normal-copy billing-address" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 13px;text-align: left;line-height: 20px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                                            Tracking<br>DPD<br><span style="color:#ccac00;">DXXXXXXXXXXXXX</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="600" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td height="30" style="line-height: 16px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix1" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td align="center">
                                                    <hr style="border-top: 2px solid #fafafa;width:90%;">
                                                    &nbsp;</td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#ffffff"  border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td class="small-title" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0 0 0 0;margin: 0;color: #a8a8a8;font-weight: 500;font-size: 16px;text-align: center;line-height: 13px;letter-spacing: 0;font-family: 'Myriad Pro Regular', Helvetica, Arial, sans-serif !important;">
                                                    <span style="font-size:12px;">KIND REGARDS</span><br><br>
                                                    <span style="color:#000;font-size:18px;padding-top:40px;"><strong>IQOS Care Team</strong></span><br><br><br>
                                                    <span style="color:#cc0000;font-size:16px">Placeholder for dummy to inform.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50" style="line-height: 50px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#F6F6F6" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="560" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <table width="100%" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                        <tr>
                                                            <th width="20%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;padding: 0;margin: 0;">
                                                                            <!-- <a href=""></a> -->
                                                                            <img src="{{path}}/assets/images/shopping-cart.png" width="30"><br>
                                                                            <span style="color: #a8a8a8;font-size: 12px;text-align: center;line-height: 16px;">
                                             SHOP<br> ONLINE</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="20%" class="stack" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/location.png" width="30"><br>
                                                                            <span style="color: #a8a8a8;font-size: 12px;text-align: center;line-height: 16px;">
                                            STORE<br> FINDER</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="20%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/chat1.png" width="30"><br>
                                                                            <span style="color: #a8a8a8;font-size: 12px;text-align: center;line-height: 16px;">
                                             ONLINE<br> CHAT</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="20%" class="stack" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/email.png" width="30">
                                                                            <br>
                                                                            <span style="color: #a8a8a8;font-size: 12px;text-align: center;line-height: 16px;">
                                            EMAIL<br> US</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th width="20%" class="stack" align="left" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 20px 0 0 0;margin: 0;">
                                                                <table width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                                                    <tr>
                                                                        <td align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                                            <img src="{{path}}/assets/images/tel.png" width="30">
                                                                            <br>
                                                                            <span style="color: #a8a8a8;font-size: 12px;text-align: center;line-height: 16px;">
                                            CALL<br> US</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="600" class="mobileHide" bgcolor="#F6F6F6" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td height="" style="line-height: 50px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#F6F6F6" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td align="left" class="iqos-footer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                                    <a href=""><img src="{{path}}/assets/images/iqos.jpg" width="110"></a><br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                    <tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                            <table width="600" bgcolor="#F6F6F6" border="0" cellpadding="0" cellspacing="0" align="center" class="fullwidth" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                <tr>
                                    <td class="gmailfix" style="min-width: 600px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">
                                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td align="left" class="stack social-icons-content" width="300" style="position: relative;top: -10px;color: #a8a8a8;font-size: 13px;line-height: 19px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding-left:20px;margin: 0;">
                                                    Lorem ipsum dolor sit amet excepteur sint occaecat cupidatat
                                                    Sed ut perspiciatis unde
                                                </td>
                                                <td align="center" class="stack social-icons" width="300" bgcolor="#F6F6F6" style="position: relative;top: -30px;color: #a8a8a8;font-size: 13px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                                                    FOLLOW US&nbsp;
                                                    <img src="{{path}}/assets/images/fb.png" alt="facebook" width="16" height="" style=""/>&nbsp;&nbsp;
                                                    <img src="{{path}}/assets/images/twitter.png" alt="twitter" width="30" height="" style="position:relative;top:5px;"/>&nbsp;&nbsp;
                                                    <img src="{{path}}/assets/images/youtube.png" alt="youtube" width="20" height=""/>&nbsp;&nbsp;
                                                    <img src="{{path}}/assets/images/instagram.png" alt="instagram" width="20" height="" style="position:relative;top:8px;"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="line-height: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0;">&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="spaced" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0;margin: 0 auto;table-layout: auto;border-collapse: collapse !important;">
                                            <tr>
                                                <td height="20" width="600" class="bottom-content" style="font-size:13px;color:#a8a8a8;line-height: 17px;position: relative;top: -30px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;padding: 0 0 0 11px;margin: 0;">&nbsp;
                                                    Sed ut perspiciatis unde omnis ed ut perspiciatis unde omnis unde omnis.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </tr>
        </table>

    </div>
</center>