/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/
// typography
@import "base/typography";
// import files
@import "base/imports";
// mixins
@import "helpers/mixins";
// variables
@import "helpers/variables";

html {
  body {
    color: $defaultFontColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #f8f8f8;
    font-size: .7rem;
  }
}

#layout-header {

  height: 3.90rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(90deg, #010103, #22232e, #010103);

  #header-logo {
    left: 2.00rem;
    width: 4rem;
    display: block;
    .path-light {
      fill: #fff;
    }
  }

}

#layout-footer {

  padding: 1.5rem 2.00rem 1.5rem 0;
  border-top: 1px solid rgba(204, 204, 204, 0.4);

  #footer-logo {
    left: 2.00rem;
    width: 7rem;
    height: 2.1rem;
    display: block;
  }

  .copyright {
    padding-top: 1.1rem;
    line-height: 1.4;
    color: #999;
    font-size: .7rem;
  }
}

#layout-content {
  padding: 1em 0;
}

.btn {
  &.btn-primary {
    background: #fff;
    border: 0.05rem solid #111;
    border-radius: 0;
    text-transform: uppercase;
    font-size: .6rem;
    opacity: .5;
    color: #111;

    &:hover {
      background: #191919;
      border-color: #191919;
      color: #fff;
      opacity: 1;
    }
  }
}

.form-group{
  ::placeholder {
    color:#999;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 80%;
  }
}

.error {
  color: #99000f;
  font-size: 80%;
}

.selectize-input {
  padding: 5px 8px;
}

.page-registration {

  padding: 1.5rem 2.00rem;
  font-size: .7rem;


  > .row {
    background-color: #fff;
  }

  .text-muted {
    color: #404040 !important;
    font-size: .6rem;
    line-height: .75rem;
    margin-top: 0.20rem;
    margin-bottom: 0;
  }

  .background {
    width: 25%;
    background-image: url('../images/banner-iqos-white-bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    p {
      line-height: 1.2rem;
      margin: 0 0 1.3rem;
    }
  }

  .form-layout {
    padding: 5% 10%;
  }

}

h6 {
  font-weight: 700;
  letter-spacing: .1rem;
  margin: 0 0 1rem 0;
  flex: 0 0 100%;
  text-transform: uppercase;
  font-size: .7rem;
}

#send_pass {

  .col-form-label-sm {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.38);
  }

  button {
    border:0;
    background-color: #fff;
    color: #d6a76f;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .btn-icon {
      position: relative;
      float: left;
      margin: .05rem .55rem .05rem .55rem;

      .icon-wrap {
        float: left;
        width: 100%;
        height: 100%;
        transition: transform .8s cubic-bezier(.215,.61,.355,1);
      }

    }

    .btn-text {
      text-decoration: none !important;
      position: relative;
      float: left;
      font-weight: 700;
      -webkit-transition: all;
      transition-delay: 0s;
      font-size: .6rem;
      letter-spacing: .12rem;
    }

    &:hover {
      .icon-wrap {
        transform: translate(20%);
      }
    }
  }
}

