title = "Device Registration"
url = "/"
layout = "default"
is_hidden = 0

[RegisterDeviceForm]
==
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-12">
            <div class="page-registration">
                <div class="row">
                    <div class="col-9 form-layout">
                        <h6>{{ this.page.title }}</h6>
                        <p>Complete the registration process to receive your digital IQOS E-card and start enjoying your smoke-free future.</p>
                        {% component 'RegisterDeviceForm' %}
                    </div>
                    <div class="col-3 background">
                        <img src="{{ 'assets/images/banner-iqos-white-img.png'|theme }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>