
<div id="Form-field-AppUser-token-group" data-field-name="token" class="form-group  text-field span-left   ">
	<label for="Form-field-AppUser-token">Token</label>
    <!-- Text -->
    <p><button
	    type="button"
	    data-request="onTokenGenerate"
	    data-request-success="console.log(data); updateField(data.result)"
	    class="btn btn-default">
	    Generate New Token
		</button>
	</p>	
    <input type="text" maxlength="255" id="token" autocomplete="off" class="form-control" placeholder="" value="<?= $value ?>" id="Form-field-AppUser-token" name="AppUser[token]">
    
</div>
<script>
function updateField(val){
	$('#token').val(val);
}
</script>