<div class="container-fluid">
    <div class="row-fluid">
        <a href="/" id="header-logo">
            <svg viewBox="0 0 1280.2 389.5" width="100%" height="100%"><path class="path path-light" d="M21,53.7c-11.7,0-21,9.9-21,21.6l0,0v238.3c0,11.7,9.3,21,21,21s21-9.3,21-21l0,0V75.3C42.6,63.5,33.3,53.7,21,53.7C21.6,53.7,21,53.7,21,53.7z"></path><path class="path path-light" d="M469.9,305.6V153.7c0-53.7-43.8-97.6-97.6-97.6H145.1c-17.3,0-30.9,13.6-30.9,30.9v150c0,53.7,43.8,97.6,97.6,97.6h227.8L489,384c8.6,8,22.2,6.8,30.3-1.9c6.8-8,6.8-19.8,0-27.8L469.9,305.6zM156.8,237.7V98.7h215.5c30.3,0,55,24.7,55,55V292H211.8C181.5,292,156.8,267.9,156.8,237.7L156.8,237.7z"></path><path class="path path-light" d="M794.1,54.3h-147c-58.7,0-105.6,47.5-106.2,106.2V229c0,58.7,47.5,105.6,106.2,106.2h147c58.7,0,105.6-47.5,106.2-106.2v-69.2C899.6,101.2,852.7,54.3,794.1,54.3zM857,228.4c0,34.6-28.4,63-63,63h-147c-34.6,0-63-28.4-63-63v-68.5c0-34.6,28.4-63,63-63h147c34.6,0,63,28.4,63,63V228.4z"></path><path class="path path-light" d="M1210.2,174.1h-3.7h-171c-18.5,0-33.3-17.3-33.3-38.9v-0.6c0-21.6,14.8-38.9,33.3-38.9h172.9c13,0,31.5,8,31.5,23.5c0,11.1,9.3,20.4,20.4,20.4c11.1,0,20.4-9.3,20.4-20.4l0,0c0-39.5-37.7-64.2-72.2-64.2h-172.9c-40.8,0-74.1,35.8-74.1,79v0.6c0,42,30.9,76.6,69.8,79h3.7h171c18.5,0,33.3,17.3,33.3,38.9v0.6c0,21.6-14.8,38.9-33.3,38.9H1033c-14.8,0-31.5-10.5-31.5-23.5c0-11.1-9.3-20.4-20.4-20.4c-11.1,0-20.4,9.3-20.4,20.4c0,38.3,37,64.2,72.2,64.2h172.9c40.8,0,74.1-35.8,74.1-79v-0.6C1280,211.1,1249.1,176.5,1210.2,174.1z"></path></svg>
        </a>
    </div>
</div>