description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PMI - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Nurun">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="https://d3asdl1l3f9jfz.cloudfront.net/design/themes/royal/media/images/icons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="https://d3asdl1l3f9jfz.cloudfront.net/design/themes/royal/media/images/icons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="https://d3asdl1l3f9jfz.cloudfront.net/design/themes/royal/media/images/icons/favicon-96x96.png" sizes="96x96">
        <link rel="shortcut icon" href="https://d3asdl1l3f9jfz.cloudfront.net/design/themes/royal/media/images/icons/favicon.ico">
        <link href="{{ 'assets/css/style.min.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        <!-- Footer -->
        <header id="layout-header">
            {% partial 'nav' %}
        </header>

    <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/dist/lib.min.js'
        ]|theme }}"></script>
        <script src="{{ [
            'assets/javascript/dist/main.min.js'
        ]|theme }}"></script>
        {% framework extras %}
    </body>
</html>
